.modal-style {
    position: absolute;
    top: 50%!important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 24px;
    padding: 32px;
}

.book-modal-body {
    padding: 12px;
}

.add-btn {
    float: right;
}

